<div class="row d-flex justify-content-around">
  <% Object.keys(data).forEach(el => { %>
    <div class="card" style="width: 18rem;">
      <h5 class="card-title"><%= el %> </h5>
      <h6 class="card-subtitle mb-2 text-muted">Total Entities</h6>
      <p class="card-text">
        <%=data[el]%> 
      </p>
    </div>
  <% }) %>
</div>
